<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Infamous Criminals</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/criminalsController.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<!-- ADD ng-app to the body tag -->
<body ng-app="TheCriminalsApp">

  <h1>Infamous Criminals</h1>

<!-- ADD ng-controller to the section tag -->
  <section ng-controller="CriminalController as criminals">

    <!-- FILL IN THE BLANKS! This should show the criminals name, location and status. The span with the status in it should have a class of the status (watch for case sensitivity)-->
    <ul id="criminals">
      <li ng-repeat="" data-id="">
        <strong>{{criminals.name}}</strong> <em>{{criminals.location}}</em> <span class='status {{criminals.status}}'>{{}}</span>
        <button class='delete' ng-click="">X</button>
      </li>
    </ul>



</body>
</html>
